<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../style.css">
    <title>デザインのたたき台</title>
</head>
<body>
    <main>
        <!-- メニュー※navタグの内側をコピー -->
        <nav id="menu">
            <!-- 以下をコピー -->
            <a href="../home/ImihumeiZenshu.html">ホーム</a>
            <details name="menu">
                <summary>世界法則</summary>
                <div>
                    <li><a href="../world_order/ArchetypeTowerBattle.html">元型タワーバトル</a></li>
                </div>
            </details>
            <details name="menu">
                <summary>傍流学派</summary>
                <div>
                    <li><a href="../cotree/magic_survival_ch_fandom.html">マジックサバイバーズチャンネルファンダム</a></li>
                </div>
            </details>
            <a href="../magic/magic.html">魔法</a>
            <a href="../item/item.html">アイテム</a>
            <a href="../nosos/nosos.html">魔法病</a>
            <a href="../vermin/vermin.html">害魔</a>
            <!-- ここまで -->
        </nav>
        <!-- 魔法 -->
        <div class="magic">
            <table>
                <tr>
                    <th colspan="4" class="title">
                        <div class="magic_square"></div>
                        <div class="name">
                            <ruby>緊急召喚<rt class="ruby">コーリング</rt></ruby>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>分類</th>
                    <td colspan="3" class="category">汎用</td>
                </tr>
                <tr>
                    <th>タイプ</th>
                    <td class="type">召喚</td>
                    <th>指定特技</th>
                    <td  class="skill">可変</td>
                    
                </tr>
                <tr>
                    <th>目標</th>
                    <td colspan="3" class="target">なし</td>
                </tr>
                <tr>
                    <th>コスト</th>
                    <td colspan="3" class="cost">なし</td>
                </tr>
                <tr>
                    <th>効果</th>
                    <td colspan="3" class="effect">あああああ</td>
                </tr>
                <tr>
                    <th>呪句</th>
                    <td colspan="3" class="invocation_verse">あああ</td>
                </tr>
                <tr>
                    <th>概要</th>
                    <td colspan="3" class="about">あ</td>
                </tr>
                <tr>
                    <th>出典</th>
                    <td colspan="3" class="authority">しゅってん</td>
                </tr>
            </table>
        </div>
        <br>
        <!-- アイテム -->
        <div class="item">
            <table>
                <tr>
                    <th colspan="6" class="title">
                        <div class="name">
                            <ruby>名前<rt class="ruby">なまえ</rt></ruby>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>使用資格</th>
                    <td colspan="5" class="requirements">なし</td>
                </tr>
                <tr>
                    <th>必要功績点</th>
                    <td class="cost">なし</td>
                    <th>個数</th>
                    <td class="quantity">1</td>
                    <th>所有形式</th>
                    <td class="ownership_type">貸与</td>
                </tr>
                <tr>
                    <th>効果</th>
                    <td colspan="5" class="effect">こうか</td>
                </tr>
                <tr>
                    <th>概説</th>
                    <td colspan="5" class="about">がいせつ</td>
                </tr>
                <tr>
                    <th>出典</th>
                    <td colspan="5" class="authority">出典</td>
                </tr>
            </table>
        </div>
        <br>
        <!-- 魔法料理 -->
        <div class="goodys">
            <table>
                <tr>
                    <th colspan="6" class="title">
                        <div class="name">
                            <ruby>名前<rt class="ruby">なまえ</rt></ruby>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>使用資格</th>
                    <td colspan="5" class="requirements">なし</td>
                </tr>
                <tr>
                    <th>必要功績点</th>
                    <td class="cost">なし</td>
                    <th>個数</th>
                    <td class="quantity">1</td>
                    <th>所有形式</th>
                    <td class="ownership_type">貸与</td>
                </tr>
                <tr>
                    <th>材料</th>
                    <td colspan="5" class="ingredients">ざいりょう</td>
                </tr>
                <tr>
                    <th>指定特技</th>
                    <td colspan="5" class="skill">していとくぎ</td>
                </tr>
                <tr>
                    <th>効果</th>
                    <td colspan="5" class="effect">こうか</td>
                </tr>
                <tr>
                    <th>概説</th>
                    <td colspan="5" class="about">がいせつ</td>
                </tr>
                <tr>
                    <th>出典</th>
                    <td colspan="5" class="authority">出典</td>
            </table>
        </div>
        <br>
        <!-- 遺物 -->
         <div class="artifact">
            <table>
                <tr>
                    <th colspan="6" class="title">
                        <div class="name">
                            <ruby>名前<rt class="ruby">なまえ</rt></ruby>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>収蔵先</th>
                    <td colspan="5" class="storage">しゅうぞうさき</td>
                </tr>
                <tr>
                    <th>使用資格</th>
                    <td colspan="5" class="requirements">なし</td>
                </tr>
                <tr>
                    <th>必要功績点</th>
                    <td class="cost">なし</td>
                    <th>個数</th>
                    <td class="quantity">1</td>
                    <th>所有形式</th>
                    <td class="ownership_type">貸与</td>
                </tr>
                <tr>
                    <th>欲求</th>
                    <td colspan="5" class="desire">よっきゅう</td>
                </tr>
                <tr>
                    <th>効果</th>
                    <td colspan="5" class="effect">こうか</td>
                </tr>
                <tr>
                    <th>概説</th>
                    <td colspan="5" class="about">がいせつ</td>
                </tr>
                <tr>
                    <th>出典</th>
                    <td colspan="5" class="authority">出典</td>
                </tr>
            </table>
        </div>
        <br>
        <!-- 魔法病 -->
        <div class="nosos">
            <table>
                <tr>
                    <th colspan="4" class="title">
                        <div class="name">
                            <ruby>名前<rt class="ruby">なまえ</rt></ruby>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>患者</th>
                    <td class="patient">かんじゃ</td>
                    <th>強度</th>
                    <td class="strength">0</td>
                </tr>
                <tr>
                    <th>前提</th>
                    <td colspan="3" class="prerequisite">ぜんてい</td>
                </tr>
                <tr>
                    <th>処方箋</th>
                    <td colspan="3" class="prescription">しょほうせん</td>
                </tr>
                <tr>
                    <th>指定特技</th>
                    <td colspan="3" class="skill">していとくぎ</td>
                </tr>
                <tr>
                    <th>発症</th>
                    <td colspan="3" class="onset">はっしょう</td>
                </tr>
                <tr>
                    <th>症状</th>
                    <td colspan="3" class="effect">しょうじょう</td>
                </tr>
                <tr>
                    <th>概説</th>
                    <td colspan="3" class="about">がいせつ</td>
                </tr>
                <tr>
                    <th>出典</th>
                    <td colspan="3" class="authority">出典</td>
                </tr>
            </table>
        </div>
        <br>
        <!-- キャラシ -->
        <div class="character">
            <table>
                <tr>
                    <th colspan="8" class="title title">
                        <div class="name">
                            <ruby>名前<rt class="ruby">なまえ</rt></ruby>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>分類</th>
                    <td colspan="5" class="category">ぶんるい</td>
                    <th>ランク</th>
                    <td class="rank">0</td>
                </tr>
                <tr>
                    <th>攻撃</th>
                    <td class="attack">0</td>
                    <th>防御</th>
                    <td class="defense">0</td>
                    <th>根源</th>
                    <td class="sourse">0</td>
                    <th class="HP">魔力</th>
                    <td>0</td>
                </tr>
                <tr>
                    <th>領域</th>
                    <td class="area">り</td>
                    <th>特技</th>
                    <td colspan="5" class="skill">とくぎ</td>
                </tr>
                <tr>
                    <th>魂の特技</th>
                    <td colspan="7" class="soul_skill">たましいのとくぎ</td>
                </tr>
                <tr>
                    <th>真の姿</th>
                    <td colspan="7" class="true_form">しんのすがた</td>
                </tr>
                <tr>
                    <th>魔法</th>
                    <td colspan="7" class="magic">まほう</td>
                </tr>
                <tr>
                    <th>概説</th>
                    <td colspan="7" class="about">がいせつ</td>
                </tr>
                <tr>
                    <th>出典</th>
                    <td colspan="7" class="authority">出典</td>
                </tr>
            </table>
        </div>
        <br>
        <!-- 魔法（テキスト） -->
        <div class="magic_text">
            <p>
                【<b class="name">名前</b>(<b class="ruby">なまえ</b>)】<rt class="category">遺失魔法</rt> <rt class="type">呪文</rt><br>
                <b>目標:</b><rt class="target">自分</rt><br>
                <b>コスト:</b><rt class="cost">獣2</rt><br>
                <b>指定特技:</b><rt class="skill">なし</rt><br>
                <rt class="effect">こうか</rt><br>
                <rt class="invocation_verse">呪句</rt>
            </p>
        </div>
        <br>

    </main>
</body>
</html>