<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>テンプレート</title>
</head>
<body>
    <header>
        <p>意味不明全集</p>
        <h1>テンプレート</h1>
    </header>
    <button id="hamburger">≡</button>
    <div class="menu"><nav id="menu"></nav></div>
    <main>
        <!--
            div　タグ
            <div class="character"></div> キャラクター
            <div class="magic_table"></div> 魔法(表形式)
            <div class="magic_text"></div> 魔法(テキスト形式)
            <div class="item"></div> アイテム
            <div class="nosos"></div> 魔法病
            <div class="grid"></div> 3分割グリッド
         -->
    </main>
    <footer>
        <p>※ 本作は、「河嶋陶一朗」「冒険支援株式会社」及び「株式会社新紀元社」が権利を有する『魔道書大戦RPG マギカロギア』の二次創作物です。（C）河嶋陶一朗/冒険企画局</p>
    </footer>
</body>
<script src="../../ImihumeiZenshu.js"></script>
</html>